# Python MySQL Connection
### Note: Either don't touch any snippet or add new

#### Connection

In [1]:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()

#### Create and Show Database(s)

In [6]:

# Create Database
mycursor.execute("CREATE DATABASE mydatabase")

# Show databases
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('classicmodels',)
('examination',)
('imported',)
('information_schema',)
('mydatabase',)
('mysql',)
('newschema',)
('performance_schema',)
('sys',)

#### Connecting to the database

In [7]:
import mysql.connector

db = mysql.connector.connect(host="localhost", user="root", password="root", database="mydatabase") 
# There will be error if 'mydatabase' doesn't exist.

#### Create table

In [10]:
cursor = db.cursor()

cursor.execute("""
Create table customers(
name varchar(65),
address varchar(255)
)
               
""")

#### Show tables

In [11]:
cursor.execute("Show tables")

for x in cursor:
    print(x)

('customers',)

#### Alter the table and add a primary key

In [15]:
cursor.execute("Alter table customers add id  int not null auto_increment primary key")
db.commit()

#### INSERT INTO TABLE

In [16]:
# You don't need to write some lines of connection, this is just for the sake of remembering
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",password="root",database="mydatabase")

cursor = db.cursor()

query = "Insert into customers (name, address) values (%s, %s)"
value = ("Sagar", "Kandhkot")

cursor.execute(query,value)

db.commit()

print(cursor.rowcount, " record inserted." )

1  record inserted.

### Insert Multiple Rows
List of tuples, executemany( ) instead of execute()

In [18]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",password="root",database="mydatabase")

cursor = db.cursor()

query = "Insert into customers(name, address) values(%s, %s)"
value = [("John Doe","123 Main St"), ("Jane Smith","456 Elm Ave"),("Qadeer Malik","Haibat Road")]

cursor.executemany(query,value)

db.commit()
print(cursor.rowcount, " record inserted")
# try:
#     cursor.executemany(query, value)
#     db.commit()
# except Exception as e:
#     print("Error: {}".format(str(e)))
# finally:
#     if (db.is_connected()):
#         cursor.close()
#         db.close()

3  record inserted

### Select statement

In [23]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="root",database="mydatabase")
cursor = db.cursor()

query=("SELECT * FROM customers WHERE id=%s")
values=(1,)

cursor.execute(query, values)
record = cursor.fetchone()

print(f"Name={record[0]} Address={record[1]} ID={record[2]}")

Name=Sagar Address=Kandhkot ID=1

### fetchall()

In [29]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="root",database="mydatabase")
cursor = db.cursor()

cursor.execute("Select * from customers")
# fetchone() will return one row
# fetchmany(numberOfRows)
result = cursor.fetchall()

# Print the list of tuples
print(result)
print()

# Print each record/tuple 
for x in result:
    print(x)

[('Sagar', 'Kandhkot', 1), ('John Doe', '123 Main St', 2), ('Jane Smith', '456 Elm Ave', 3), ('Qadeer Malik', 'Haibat Road', 4)]

('Sagar', 'Kandhkot', 1)
('John Doe', '123 Main St', 2)
('Jane Smith', '456 Elm Ave', 3)
('Qadeer Malik', 'Haibat Road', 4)

### Where Clause

In [34]:
import mysql.connector
db = mysql.connector.connect(host="localhost", user="root", passwd="root",database="mydatabase")
cursor = db.cursor()
cursor.execute("Select * from customers where id = 3")
record = cursor.fetchone()
print(record)

('Jane Smith', '456 Elm Ave', 3)

## Prevent SQL Injection
When query values are provided by the user, you should escape the values. This is called parameterization or prepared statements.

In [35]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="root",database="mydatabase")
cursor = db.cursor()

query = "Select * from customers where id = %s"
value = (2,)

cursor.execute(query,value)
result = cursor.fetchone()
print(result)

('John Doe', '123 Main St', 2)

### ORDER BY

In [41]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="root",database="mydatabase")
cursor = db.cursor()

query = "Select * from customers order by id desc"
cursor.execute(query)
result = cursor.fetchall()
print(result)

[('Qadeer Malik', 'Haibat Road', 4), ('Jane Smith', '456 Elm Ave', 3), ('John Doe', '123 Main St', 2), ('Sagar', 'Kandhkot', 1)]

## DELETE

In [42]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="root",database="mydatabase")
cursor = db.cursor()
cursor.execute("Delete from customers where id = 4")
db.commit( )
print (cursor.rowcount, "record(s) deleted")

1 record(s) deleted

## Drop Table/ Drop Table If Exists

In [45]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="root",database="mydatabase")
cursor = db.cursor()
# There is no such mydb database. If you omit the 'if exists', then you will get an exception or may be multiple exceptions.
cursor.execute("Drop table if exists mydb")

## Update

In [52]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="root",database='mydatabase')
cursor=db.cursor()
cursor.execute("Update customers set  name='Johnna' where id=2")   

print (cursor.rowcount,"Record Updated.")  

#To get the last inserted record ID, use:
print ("The Last Inserted Record Id Is : ",cursor.lastrowid, cursor._last_insert_id)

# Nothing will happen until you don't commit.
db.commit()

1 Record Updated.
The Last Inserted Record Id Is :  0 0

## Limit

In [53]:
import mysql.connector
db = mysql.connector.connect(host='localhost',user='root',passwd='root',database='mydatabase')
cursor = db.cursor()
cursor.execute("Select * from customers limit  2")
result = cursor.fetchall()
print(result)

[('Sagar', 'Kandhkot', 1), ('Johnna', '123 Main St', 2)]

In [54]:
query="Insert into customers(name,address) values(%s,%s)"
value=[("A","aaa"),("B","bbb"),("C","ccc"),("D","ddd"),("E","eee"),("F","fff"),("G","ggg"),("H","hhh"),("I","iii"),("J","jjj")]
cursor.executemany(query,value)
print(cursor.rowcount,"Record inserted")

10 Record inserted

In [57]:
cursor.execute("Select * from customers")
result = cursor.fetchall()
db.commit()
for row in result:
    print(row)

('Sagar', 'Kandhkot', 1)
('Johnna', '123 Main St', 2)
('Jane Smith', '456 Elm Ave', 3)
('A', 'aaa', 5)
('B', 'bbb', 6)
('C', 'ccc', 7)
('D', 'ddd', 8)
('E', 'eee', 9)
('F', 'fff', 10)
('G', 'ggg', 11)
('H', 'hhh', 12)
('I', 'iii', 13)
('J', 'jjj', 14)

### Limit number_of_rows OFFSET start_from_row_no
Note: Rows starts from 0

In [56]:
cursor.execute("Select * from customers limit 5 offset 3")
result = cursor.fetchall()
for row in result:
    print(row)

('A', 'aaa', 5)
('B', 'bbb', 6)
('C', 'ccc', 7)
('D', 'ddd', 8)
('E', 'eee', 9)